@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: white;

}

.container {
  background-color: #1A1B21;
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 10px;

}

.profile-pic {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.name {
  font-size: 1.3rem;
  margin-top: .5em;
}

.title {
  color: #F3BF99;
  font-size: .7rem;
  font-weight: 400;
  margin-bottom: .5em;
}

.website {
  font-size: .7rem;
  font-weight: 300;
  margin-bottom: 1em;
}

.email-btn {
  background-color: white;
  padding: .4em 1.5em ;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  margin: 0 1em 1.5em 0;
}

.linkedin-btn {
  background-color: #5093E2;
  color: white;
  padding: .4em 1.5em ;
  border: 0;
  border-radius: 4px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;

}

.main-title {
  font-size: .8rem;
  font-weight: bold;
  margin: .7em 0;

}

.main-text {
  font-size: .7rem;
  text-align: left;
  line-height: .9rem;
  font-weight: 300;
  margin-bottom: 1em;
  opacity: 0.8;
  

}

.footer-icons {
  display: flex;
  justify-content: center;
  margin: 1em auto;
  padding: .9em;
  list-style: none;
  border-radius: 0 0 10px 10px;
  background-color: #161619

}


.footer-single-icon {
  opacity: 0.6;
  margin: 0 .5em;
  font-size: 1.4rem;
}

.info-icon {
  margin-right: .5em;
}